@font-face {
font-family: 'Myriad Pro Regular';
src: url('../fonts/regular/MyriadPro-Regular.eot');
src: url(../fonts/regular/'MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/regular/MyriadPro-Regular.woff') format('woff'),
url('../fonts/regular/MyriadPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Myriad Pro Light';
src: url('../fonts/light/MyriadPro-Light.eot');
src: url('../fonts/light/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/light/MyriadPro-Light.woff') format('woff'),
url('../fonts/light/MyriadPro-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body{
	margin: 0;
	padding: 0;
	background: #3b3b3e;
	font-family: 'Myriad Pro Regular';
}
h2{
	font-family: 'Myriad Pro Light';
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 2px;
}
a{
	outline: none;
}
a:hover{
	text-decoration: none;
}
p{
	color: #5b5b5b;
	font-size: 15px;
	font-weight: 700;
}
.products {
	width: 100%;
	padding-left: 65px;
	padding-top: 60px;
	height: 850px;
	background: url('../img/bg/Brick-Background.png') no-repeat  center;
}
.product{
	background-color: #fff;
	margin-top: 20px;
	margin-left: 25px;
	cursor: pointer;
}

.hover-buttons{
	opacity: 0;
	height: 0;	
}
.product:hover{
	transition: 0.2s;
}
.product:hover .hover-buttons{
	display:flex;
	opacity: 1;
	height: 80px;
	transition: 0.5s;
}
.product:hover .product-name{
	color: #ea6d46;
}
.laminat-product{
	padding-bottom: 2px;
}
.picture{
	position: relative;
	top: -14.5px;
	display: block;
	margin: 0 auto;
	max-width: 85%;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	
}

.sale{
	position: relative;
	top: -13px;
	left: 12px;
	background-color: #fff;
	width: 95px;
	height: 40px;
	padding: 4px 5px 2px 3px;
	border: 3px solid #ea6d46;
	box-shadow: 5px ;

}
.sales-treugolnik{
	position: relative;
	border: 15px solid transparent;	border-top: 0px solid #ea6d46; border-right: 15px solid #ea6d46;
	top: 10px;
	left: -70px;
}
.products-slider{
	margin-top: 50px;
	margin-right: 100px;
}
.slick-active{
	outline: none;
}

.prev{
	top: 525px;
	left: 44%;
	position: absolute;
	z-index: 99;
	width: 70px;
	height: 70px;
	border: none;
	background: url(../img/prevArrow.svg) center no-repeat;
	background-size: 100%;
	cursor: pointer;

}
.next{
	top: 525px;
	left: 53%;
	position: absolute;
	z-index: 99;
	width: 70px;
	height: 70px;
	border: none;
	background: url(../img/nextArrow.svg) center no-repeat;
	background-size: 100%;
	cursor: pointer;
	
}
.next:focus{
	outline: none;
}
.prev:focus{
	outline: none;
}
.next:hover{
	opacity: 0.6;
}
.prev:hover{
	opacity: 0.6;
}
.super-price{
	color: #ea6d46;
	margin: 0;
}


.product-name{
	height: 55px;
	font-size: 16px;
	margin-left: 25px;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 18px;
}
.product-price{
	display: flex;
	margin-left: 25px;
	margin-top: 5px;
	height: 30px;
}

.code-product {
	font-weight: 500;
	font-size: 11px;
	color: #9a9a9a;
	margin-top: 5px
	margin-bottom: 0;
}
.code-product-laminat{
	font-weight: 500;
	font-size: 11px;
	color: #9a9a9a;
	margin-top: 5px;
	margin-bottom: 0;
	width: 50%;
}

.prices{
	margin-left: 100px;
}
.prices-laminat{
	
	width: 100%;
	margin-left: 15%;
}

.prices-laminat span{
	text-decoration: line-through;
	color: #c6c6c6;
	font-size: 12px;
	font-weight: 400;
	margin-left: 5px;
}
.prices span{
	text-decoration: line-through;
	color: #c6c6c6;
	font-size: 12px;
	font-weight: 400;
	margin-left: 10px;
}
.avaible-type{
	display: flex;
}
 
.avaible {
	background-color: #bbd700;
	color: #fff;
	font-size: 10px;
	height: 18px;
	padding: 1px 4px 0 4px;
	margin-bottom: 0;
	margin-left: 25px;
	font-weight: 700;
	text-decoration: none;
	box-shadow: 0.5px 0.5px rgba(255,255,100, -6);
}
.avaible:hover{
	text-decoration: none;
	color: #fff;
	filter: brightness(95%);
}
.type-laminat {
	position: relative;
	top: -5px;
	margin-left: 101px;
	margin-bottom: 0;
	font-size: 11px;
	font-weight: 500;
	color: #646368;
}
.type {
	margin-left: 155px;
	margin-bottom: 0;
	font-size: 11px;
	font-weight: 500;
	color: #646368;
}
sup{
	top: -10px;
	left: -22px;
	color: #9a9a9a;
	font-weight: 400;
}
sub{
	top: -18px;
	left: 1px;
}
.hover-buttons{
	display: flex;
	margin-top: 15px;
	margin-left: 10%;
}
.buy-button{
	margin-top: 15px;
	margin-right: 30px;
	margin-left: 25px;
	padding: 12px 22px;
	border-radius: 50px;
	background-color: #f5521e;
	height: 50px;
	width: 130px;
}
.liked{
	margin-top: 15px;
}
.buy-button:hover{
	filter: brightness(85%);
}
.liked:hover{
	filter: brightness(85%);
}
.buy-it{
	color: #fff;
}
.buy-button img{
	float: right;
	margin-left: 0px;
	
}


@media screen and (max-width: 1780px){
.sale{
	position: relative;
	top: -14px;
	left: 15px;
	background-color: #fff;
	width: 95px;
	height: 40px;
	padding: 4px 5px 2px 3px;
	border: 3px solid #ea6d46;
	box-shadow: 5px ;
}
.sales-treugolnik{
	position: relative;
	border: 15px solid transparent;	border-top: 0px solid #f5521e; border-right: 13px solid #f5521e;
	top: 9px;
	left: -74px;
}
.picture{
 width: 100%;
}
.product-name{
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 18px;
}
.product-price{
	margin-left: 30px;
}
.prices{
    margin-bottom: 5px;
	margin-left: 130px;
}
.prices-laminat{
	margin-bottom: 5px;
	margin-left: 30%;
}
.avaible {
	margin-left: 27px;
}
.type{
	margin-left: 185px;
}
}
@media screen and (max-width: 1565px){
	.sale{
	top: -14px;
	left: 10px;
}
.prices{
	margin-left: 100px;
}
.prices-laminat{
	margin-left: 20%;
}
.type{
	margin-left: 155px;
}
}
@media screen and (max-width: 1485px){
	.product-name{
		font-size: 14px;
	}
	.prices{
	margin-left: 25%;
}
	.prices-laminat{
	margin-left: 15%;
}
.type{
	margin-left: 125px;
}
.hover-buttons{
	margin-left: 5%;
}
}
@media screen and (max-width: 1341px){
	.prices-laminat{
	margin-left: 10%;
}
.hover-buttons{
	margin-left: 0;
}
}
@media screen and (max-width: 1299px){
	.sale{
	top: -14px;
	left: 12px;
}
	.prices{
	margin-left: 25%;
}
	.prices-laminat{
	margin-left: 15%;
}
	.type{
	margin-left: 40%;
}
.prev{
	left: 40%;
}
.next{
	left: 55%;	
}
.hover-buttons{
	margin-left: 8%;
}

}
@media screen and (max-width: 1048px){
		.prices{
	margin-left: 15%;
}
	.prices-laminat{
	margin-left: 5%;
}
	.type{
	margin-left: 35%;
}
.prev{
	top: 470px;
	left: 40%;
}
.next{
	top: 470px;
	left: 55%;	
}
.hover-buttons{
	margin-left: 0;
}
}
@media screen and (max-width: 991px){
	.products{
		padding-left: 70px;
	}
	.hover-buttons{
	opacity: 1;
	height: 80px;
}
	.sale{
	top: -14px;
	left: 16px;
}
	.prices{
	margin-left: 40%;
}
	.prices-laminat{
	margin-left: 30%;
}
	.type{
	margin-left: 50%;
}
.prev{
	top: 230px;
	left: -8.5%;
}
.next{
	top: 230px;
	left: 102%;
		
}
.hover-buttons{
	margin-left: 12%;
}
}
@media screen and (max-width: 856px){
	.sale{
	top: -14px;
	left: 13px;
}
	.prices{
	margin-left: 30%;
}
	.prices-laminat{
	margin-left: 18%;
}
	.type{
	margin-left: 47%;
}
.hover-buttons{
	margin-left: 2%;
}
}
@media screen and (max-width: 775px){
	.prices-laminat{
	margin-left: 16%;
}
}
@media screen and (max-width: 767px){
	.sale{
	top: -14px;
	left: 30px;
}
	.sales-treugolnik{
	top: 11px;
	left: -73px;
}
	.product-name{
	margin-left: 40px;
}
.product-price{
	margin-left: 40px;
}
.avaible {
	margin-left: 40px;
}
.type{
	margin-left: 185px;
}
.hover-buttons{
	margin-left: 25%;
}
	.next{
	visibility: hidden;
	}
	.prev{
	visibility: hidden;
	}
	
}
@media screen and (max-width: 600px){
	.sale{
	left: 17px;
}
.hover-buttons{
	margin-left: 15%;
}
}
@media screen and (max-width: 494px){
	.sale{
	left: 10px;
}
	.prices{
		margin-left: 20%;
	}
	.prices-laminat{
		margin-left: 10%;
	}
	.type{
		margin-left: 35%;
	}
	.hover-buttons{
	margin-left: 5%;
}
}
@media screen and (max-width: 460px){
	.product-name{
		margin-left: 20px;
		font-size: 12px;
	}
	.product-price{
		display: block;
		text-align: center;
		margin-bottom: 0px;
	}
	.code-product{
		margin-right: 50px;
		margin-bottom: 3px;
	}
	.code-product-laminat{
		margin-left: 20px;
		margin-bottom: 3px;
	}
	.prices{
		margin-left: 0;
		margin-right: 50px;
	}
	.prices-laminat{
		margin: 0;
		margin-left: -10%;
		
	}
	.avaible-type{
		display: block;
		text-align: center;
	}
	.avaible{
	margin-left: 0;

	}
	.type{
		display: inline-block;
		margin: 0 auto;
		margin-left: 50px;
		margin-top: 20px;
	}
	.buy-button{
		font-size: 10px;
		height: 40px;
		margin-left: 15px;
	}
	img .liked{
		height: 10px;
	}
	.hover-buttons{
	margin-left: 0%;
}
}


